<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      </head>
  <body>
    <br><br>
    <div class="container">
      <form class="form" action="#" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Enter Your Todo</span>
                {{form.item}}
                <button type="submit" class="btn" style="color: white;background-color: black;">SUBMIT</button>
            </div>
        </div>
    </form>
    {% for a in pro %}
    <div class="alert alert-primary mt-2 d-flex justify-content-between" role="alert">
      {{a.item}}
      <div class="d-flex justify-content-between">
     <a href="{% url 'update' a.id %}"> <button type="button" class="btn btn-success" >Edit</button> </a>
     <form action="{% url 'delete' a.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger" style="margin-left:9% ;">Delete</button>
    </form>
      </div>
    </div>
    {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>